---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/voters/import":
    put:
      summary: imprtorts a list of voters
      tags:
      - Voters
      description: |-
        Imports a list of voters from a csv file. <br/><br/> Example csv file: <br>
                          <table class="table table-bordered table-hover table-condensed">
                          <thead><tr><th>first_name</th><th>middle_name</th><th>last_name</th><th>address</th><th>city</th><th>zip</th><th>state</th><th>birth_date</th><th>id</th></tr></thead>
                          <tbody><tr><td>Ron</td><td>Louis</td><td>Tsosie</td><td>1299 Taylor St</td><td>Montgomery</td><td align="right">36109</td><td>AL</td><td>1963-09-28</td><td align="right">1</td></tr>
                          <tr><td>Brandie</td><td></td><td>Nguyen</td><td>9015 Fairview St</td><td>Wasilla</td><td align="right">99654</td><td>AK</td><td>1946-12-11</td><td align="right">2</td></tr>
                          <tr><td>Peggy</td><td>R.</td><td>Lee</td><td>5737 Homestead Rd</td><td>Tucson</td><td align="right">85718</td><td>AZ</td><td>1993-11-26</td><td align="right">3</td></tr></tbody></table>
      parameters:
      - name: file
        description: the csv of voter data
        schema:
          type: file
      - in: header
        name: Authorization
        required: true
        description: Client token
        schema:
          type: string
      responses:
        '204':
          description: no content
          content: {}
  "/voters":
    get:
      summary: Retrieves the full list of voters
      tags:
      - Voters
      parameters:
      - in: header
        name: Authorization
        required: true
        description: Client token
        schema:
          type: string
      responses:
        '200':
          description: list voters
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/definitions/voter"
  "/voters/{id}":
    get:
      summary: Retrieves the specified voter
      tags:
      - Voters
      parameters:
      - in: header
        name: Authorization
        required: true
        description: Client token
        schema:
          type: string
      responses:
        '200':
          description: voter record
          content:
            application/json:
              schema:
                "$ref": "#/definitions/voter"
servers:
- url: https://hermes.demo.trustthevote.org
definitions:
  voter:
    type: object
    properties:
      id:
        type: integer
      client_id:
        type: string
      first_name:
        type: string
      middle_name:
        type: string
      last_name:
        type: string
      address:
        type: string
      city:
        type: string
      state:
        type: string
      zip:
        type: string
      birth_date:
        type: string
      registration_status:
        type: string
    required:
    - id
